/*----- Обнуление стилей -----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    font-family: Arial;
}

/* ----- header ----- */

.page-header {
    width: 100%;
    background: #445161;
    padding: 25px 50px 19px 50px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-header-wrp {
    max-width: 443px;
    width: 100%;
}

.page-header-tittle {
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    margin: 0 0 40px 0;
}

.page-header-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-header-list li {
    font-size: 20px;
    margin: 0 0 10px 0;
    position: relative;
    padding: 0 0 0 21px;
}

.page-header-list li:before {
    content: '';
    display: block;
    width: 16px;
    height: 13px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url(../img/tick.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header-list li:last-child {
    margin: 0;
}

.page-header-img {
    display: block;
    width: 469px;
    height: 214px;
    color: black;
    background: #FFFFFF;
}

/* ----- end header ----- */

/* ----- main -----*/

/*----- section about product -----*/

.main-about-product {
    width: 100%;
    padding: 45px 50px 50px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.main-about-product-wrp {
    max-width: 646px;
    width: 100%;
}

.main-about-product-tittle {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin: 0 0 17px 0;
}

.main-about-product-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0 0 11px 0;
}

.main-about-product-text:last-child {
    margin: 0;
}

/*----- end section about product -----*/

/*----- section digniti -----*/

.main-digniti {
    width: 100%;
    padding: 25px 50px 22px 50px;
    box-sizing: border-box;
    background: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-digniti-tittle {
    width: 100%;
    margin: 0 0 22px 0;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.main-digniti-box {
    max-width: 598px;
    width: 49%;
}

.main-digniti-box-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0 0 33px 0;
}

.main-digniti-box-text summary {
    list-style-type: none;
    padding: 0 0 0 42px;
    box-sizing: border-box;
    position: relative;
}

.main-digniti-box-text summary:before {
    content: "+";
    font-family: auto;
    width: 34px;
    height: 35px;
    border: 1px solid black;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #445161;
    color: #fff;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
}

.main-digniti-box-text[open] summary:before {
    content: "-";
    font-family: -webkit-pictograph;
    width: 34px;
    height: 35px;
    border: 1px solid black;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #445161;
    color: #fff;
    font-size: 45px;
    line-height: 25px;
    text-align: center;
}

/*----- end section digniti -----*/

/*----- main-screenshots -----*/
.main-screenshots {
    width: 100%;
    padding: 25px 42px 24px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-screenshots-tittle {
    width: 100%;
    text-align: center;
    margin: 0 0 45px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: #445161
}

.main-screenshots-wrp {
    max-width: 650px;
    width: 48%;
    margin: 0 0 27px 0;
    display: flex;
    align-items: flex-start;
}

.main-screenshots-img {
    display: block;
    width: 202px;
    height: 153px;
    background: #445161;
    color: #fff;
    margin: 0 14px 0 0;
}

.main-screenshots-description {
    width: 55%;
    flex-grow: 1;
}

.main-screenshots-description-tittle {
    margin: 0 0 13px 0;
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    font-weight: normal;
}

.main-screenshots-description-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/*----- end main-screenshots -----*/

/*----- main-reviews -----*/

.main-reviews {
    width: 100%;
    padding: 25px 50px 20px 50px;
    box-sizing: border-box;
    background: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-reviews-tittle {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: #445161;
    text-align: center;
    margin: 0 0 29px 0;
}

.main-reviews-article {
    max-width: 568px;
    width: 50%;
    margin: 0 0 22px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-reviews-article-text {
    max-width: 458px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background: #EBEBEB;
    border-radius: 5px;
    padding: 16px 10px 0 15px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

.main-reviews-article-text:before {
    content: "";
    position: absolute;
    /* Положение треугольника */
    top: 38px;
    left: -20px;
    /* Прозрачные границы */
    border: 10px solid transparent;
    /* Добавляем треугольник */
    border-right: 15px solid #EBEBEB;
}

.main-reviews-article-text-signature {
    display: block;
    margin: 5px 0 5px 0;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #989898;
}

.main-reviews-article-avatatar {
    width: 66px;
    height: 66px;
    background: #445161;
    border-radius: 33px;
}

/*----- end main-reviews -----*/